<div class="main">
  <div class="origin-selector">
    <h2>Aeroporto di partenza</h2>

    <p-dropdown [options]="airports " [(ngModel)]="origin" optionLabel="name" [filter]="true" filterBy="name"
      [showClear]="true" placeholder="Seleziona aeroporto" (ngModelChange)="changeOriginOrDestination()">
    </p-dropdown>

  </div>
  <div class="destination-selector">

    <h2>Aeroporto d'arrivo</h2>

    <p-dropdown [options]="airports " [(ngModel)]="destination" optionLabel="name" [filter]="true" filterBy="name"
      [showClear]="true" placeholder="Seleziona aeroporto" (ngModelChange)="changeOriginOrDestination()">
    </p-dropdown>

    <div class="aoutes-button ryan-button">
      <p-button class="ryan-button" label="conferma" [disabled]="!(origin && destination)"
        (click)="confirmAirports()" />
    </div>

  </div>
  @if(connectionVerified && origin && destination && origin.code != destination.code){
  <div class="common-routes">
    @if(connected){
    <h2>i due aeroporti sono direttamente connessi </h2>
    }@else{
    @if(commonDestinations.length > 0){
    <h2>i due aeroporti sono connessi tramite questi scali</h2>
    @for(airport of commonDestinations; track airport.code){
    <p-toggleButton class="common-routes-button" [(ngModel)]="airport.selected"
      (ngModelChange)="changeSelectedDestinations()" [onLabel]="airport.name" [offLabel]="airport.name" />
    }
    <p>Si possono deselezionare gli aeroporti attraverso cui non si intende transitare</p>
    }@else {
    <h2>Non ci sono scali comuni tra i due aeroporti</h2>
    }

    }

  </div>
  @if(connected || selectedDestinations.length > 0){
  <div class="dates-selector">
    <h2>Seleziona il periodo possibile per la partenza e per il ritorno</h2>
    <h3>Partenza</h3>
    <p-calendar [(ngModel)]="startDate" selectionMode="range" />
    <div class="one-way-selector">
      <p-checkbox [(ngModel)]="oneWay" [binary]="true" inputId="binary" /><label>solo andata</label>
    </div>
    @if(!oneWay){
    <h3>Ritorno</h3>
    <p-calendar [(ngModel)]="endDate" selectionMode="range" />}
  </div>
  <div class="search-button ryan-button">
    <p-button class="ryan-button" label="cerca voli" [disabled]="!(startDate && (endDate || oneWay)) || loading"
      (click)="searchFlights()" />
    @if(loading){
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' }" />
    }
  </div>
  @if(searched){
  <div class="search-results">
    <h2>Risultati della ricerca</h2>

    <p-accordion>
      <p-accordionTab header="Filtri - {{activeFilters}}">
        <div class="filters">
          <h3>Prezzo massimo <b>{{filterMaxPrice}}</b> €</h3>
          <p-slider [(ngModel)]="filterMaxPrice" [min]="50" [max]="1500" [step]="10" [style]="{ width: '100%' }"
            (onSlideEnd)="filterFlights()" />
          <h3>Durata dello scalo tra <b>{{filterWaitTime[0]}}</b> e <b>{{filterWaitTime[1]}}</b> ore</h3>
          <p-slider [(ngModel)]="filterWaitTime" [range]="true" [min]="0" [max]="24" [step]="0.5"
            [style]="{ width: '100%' }" (onSlideEnd)="filterFlights()" />
          <h3>Durata massima <b>{{filterLength}}</b> ore</h3>
          <p-slider [(ngModel)]="filterLength" [min]="0" [max]="48" [step]="1" [style]="{ width: '100%' }"
            (onSlideEnd)="filterFlights()" />
        </div>
      </p-accordionTab>
    </p-accordion>

    <p-tabView>
      <p-tabPanel header="Andata ({{filteredGoFlights.length}})">
        @if(goFlights.length == 0){
        <div class="nodata">
          <h3>Nessun volo esistente in queste date</h3>
        </div>
        }@else {
        @if(filteredGoFlights.length == 0){
        <div class="nodata">
          <h3>Tra i voli esistenti in questo periodo nessuno soddisfa i criteri impostati nel filtro</h3>
        </div>
        }
        }
        @for(flight of filteredGoFlights; track flight){
        <ng-container *ngTemplateOutlet="searchResultsPanel;context:{flight:flight}"></ng-container>
        }

      </p-tabPanel>
      @if(!oneWay){
      <p-tabPanel class="search-results-panel" header="Ritorno ({{filteredReturnFlights.length}})">
        @if(returnFlights.length == 0){
        <div class="nodata">
          <h3>Nessun volo esistente in queste date</h3>
        </div>
        }@else {
        @if(filteredReturnFlights.length == 0){
        <div class="nodata">
          <h3>Tra i voli esistenti in questo periodo nessuno soddisfa i criteri impostati nel filtro</h3>
        </div>
        }
        }
        @for(flight of filteredReturnFlights; track flight){
        <ng-container *ngTemplateOutlet="searchResultsPanel;context:{flight:flight}"></ng-container>
        }

      </p-tabPanel>
      }
    </p-tabView>



  </div>
  <p-panel class="notes" header="Note">
    <p>
      I voli presenti sono quelli selezionati da ryanair come più economici per il periodo selezionato. E non vengono
      mostrati quelli completi o non disponibili
    </p>
  </p-panel>
  }
  }
  }


</div>

<ng-template #searchResultsPanel let-flight="flight">

  <p-card [header]="flight.middleAirport?.name || 'diretto'">
    <h5>
      {{flight.fareFirst.departureDate | date:"dd/MM/yy HH:mm" }} -
      {{flight.fareLast.arrivalDate | date:"dd/MM/yy HH:mm" }}
    </h5>
    <h4>{{priceOfFlight(flight)}}€</h4>
  </p-card>
</ng-template>