.main {
    text-align: center;
}

.ryan-button {
    margin-top: 25px;
    margin-bottom: 15px;
}

.one-way-selector {
    padding: 20px 0 10px;
}

.common-routes-button {
    margin: 4px;
    display: inline-block;
}

.flight-header.ng-star-inserted {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.flight-header-left {
    font-size: 0.8rem;
}

.flight-header-right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

p.flight-header-date {
    font-size: 0.9em;
}

p.flight-header-name {
    font-size: 1.1em;
}

span.flight-header-time {
    font-size: 1.3em;
}

p.flight-header-price {
    font-size: 1.4em;
}

.flight-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
