.main {
    text-align: center;
}

.ryan-button {
    margin-top: 25px;
    margin-bottom: 15px;
}

.one-way-selector {
    padding: 20px 0 10px;
}

.common-routes-button {
    margin: 4px;
    display: inline-block;
}
